body {
     margin: 0;
    padding: 0;
    background-color: #eb7200;
    letter-spacing: 1px;
    font-family: "Montserrat";
    font-weight: 400;
}
button { 
    font-size: 18px;
    margin: 0;
    border: none;
    background-color: white;
    border-width: 0;
    color: #1d83ac;
    font-weight: 700;
     text-transform: uppercase;
    height: 100%;
    outline: none;
     -webkit-transition: color 0.3s;
    transition: all 0.3s
}
button:hover {
    background-color: #1d83ac;
    color: white;
}
.square {
    width: 30%;
    padding-bottom: 30%;
    margin:1.66%;
    float: left;
    background-color: blue;
    border-radius: 15%;
    -webkit-transition: background-color 0.7s;
    transition: background-color 0.7s;
}
#container {
    margin: 0 auto;
    max-width: 600px;
} 
#stripe { 
    background: white;
    height: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.selected {
    background-color: #1d83ac;
    color: white;
}
h1 {
     color: white;
    line-height: 1.1;
     text-transform: uppercase;
    background-color: #1d83ac;
    font-weight: 100;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
#choice { 
    padding: 0;
    font-size: 200%;
    font-weight: 100;
}
#message {
    display: inline-block;
    width: 20%
}