$color-primary: #f05a28; 
$color-secondary: #f7874f; 
$color-orange: #f6b74e;
$color-blue: #87c5ec; 
$color-green-dark: #2f797a; 
$color-green-light: #318c8c;
$color-tirquoise: #7cc9c3;
$color-grey-dark: #2e2d2c; 
$color-grey: #3c3c3b;
$color-grey-light: #575756; 
$color-white: #f7f7f7;
$color-white-2: #eee;
$color-yellow: #f4c320;
$color-spot:#d8d8d8;

$grid-width: 74rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 6rem;

$box-shadow-big: 0 1rem 2.5rem rgba($color-grey-dark, .2);
$box-shadow-medium: 0 0.6rem 1.25rem rgba($color-grey-dark, .4);
$box-shadow-small: 0 0.3rem 0.6rem rgba($color-grey-dark, .3);