@media only screen and (max-width: 767px) {
    body{font-size: 16px;}
    .main-nav {display: none;}
    .mobile-nav-icon {display: inline-block;
    }
    .main-nav {
    margin-bottom: 2px;}
    .main-nav li {display: block;}
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 2px 0;
        font-size: 100%
    }
    .sticky .main-nav{margin-top: 10px;}
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 2px 0;  }
    .sticky .mobile-nav-icon  { margin: 10px 20px;}
    .sticky .mobile-nav-icon i{ color: #bd3900; }
    .video {padding: 10px;}
    div p, 
    div p1 {font-size: 100%;}
    .naslov {font-size:75%;}
    h2 {font-size: 180%;
    padding-bottom: 10px;}
    footer p1 {font-size: 80%;
    }
    .footer-content, .navigacija { max-width: 100%;
    font-size: 90%;}
    /*.mreze {margin-left: 15px;}
    .mreze li{padding-left: 3px;
    padding-top: 8px;
    font-size: 105%;}*/
    section { padding: 15px 8px;}
    blockquote.milan:before {right: 155px;}

}

@media only screen and (max-width: 992px) { 
    .main-nav li {font-size: 1em;}
    .miletic {max-width: 100%;}
    .video {max-width: 100%;}
}


