.footer {
    background-color: $color-green-light;
    padding-top: 6rem;
    padding-left: 14rem;
    clip-path: circle(55.5% at 50% 55%);

    &-logo-white {
        padding-bottom: 2rem;
    }

    &-menu {
        display: inline-block;
        ul {
            padding-left: 0;
        }
        li {
            list-style: none;
            padding-bottom: 1rem;
            color: $color-white;
        }
    }
    &-link {
        text-decoration: none;
        &:visited,
        &:active{
            color: $color-white;
            transform: color 0.3s;
        }    

        &:hover,
        &:active{
            color: $color-secondary;
        }
    }
    &-built {
        background-color: $color-green-dark;
        margin-left: -5rem;
        padding-bottom: 1rem;
        position: relative;
        height: 5rem;

        &-author {
            position: absolute;
            top: 25%;
            left: 5%;
        }
        &-links {
           top: 35%;
           right: 15%;
           position: absolute;
        }
    }
    &-social li {
        list-style: none;
        display: inline-block;
        padding-left: 1rem;
        font-size: 1rem;
        
    }
    &-net {
        &:link,
        &:visited {
        font-size: 1.2rem;
        transform: all 0.3s;
        }
        &:hover,
        &:active {
            font-size: 1.2rem;
        }
    }
    
}    
